.container_modal_register {
    z-index: 2;
    background-color: #fff;
    width: 700px;
    height: 500px;
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: 0.2s ease-in;
  }
  